
*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
   

} 
body{
    background-color: white;
    font-family: 'Raleway',
    sans-serif;
    font-size: 13px;
    line-height: 1.6;
    font-weight: bold;
    color: black;
    font-weight: 200;
}

.mainpage{
 background-color: rgb(255, 255, 255);
 width: fit-content;
 height: 95vh;
 width: 100%;
}

.mainContainer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    height: 95vh;
    
}

.header{
    display: flex;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    width: 100%;
    
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding-top: 5px;
    
}
.navbar > ul{
    padding-left: 0px;
}

.mobileNavigation{
    display: none;
}

li a{
    font-size: 14px;
    list-style-type: none;

}
.navlink:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left:0;
    bottom: -10px;
    transition: 0.7s;
    
}

.navlink:hover:after{
    width: 100%; 
}

.navlink:hover{
    color: #0fe500;
    transition: all 0.4s ease 0s;
}

a{
    position: relative;
    text-decoration: none;
    font-weight: 300;
    color: black;
}

.maincontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    max-width: 900px;
    animation: Slide_Up 0.5s ease-out;
}

#mainButton{
    height: 40px;
    font-size: 16px;
    width: 120px;
}


.maincontentHeader{
 font-weight: 900;
 text-transform: uppercase;
 Font-Size: 40px;
 text-align: center;
}

.intro-name{
    font-size: 25px;
}
.kashPortfolio{
    color: white;
    background-color: black;
    transition: all 0.4s ease 0s;
}

.heading{
    font-size: 25px;
     font-weight: 700;
}
#kash{
    color:#0fe500;
}

#kash:hover {
   color: black;
}

.underline{
    width: 5rem;
    height: 0.25rem;
    background: #0fe500;
    margin-left: auto;
    margin-right: auto;
}

.icons{
    padding-top: 5px;
}
.mobileicons {
    display: none;
}


.avatar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.avatar-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.avatarImg{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.nyc{
background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
font-size: 50px;
background-size: 400%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: TEXT_ANIMATION 10s linear infinite;

}


.self-description{
color: black;
}


.socmedia{
    font-size: 20px;
    margin-left: 10px;
    transition: 0.5s;
}

.socmedia:hover {
    color: #0fe500;
}

.burgermenu{
    display: none;
     font-size: 25px;
     margin-left: 10px;
}


/* ////////// about me ///////////// */


.aboutme{
  
    display: grid;
    align-items: center;
    height: 95vh;
    background-color: #fff;
   
}
.story{
    display: grid;
    grid-gap: 2rem;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    animation: Slide_Up 0.5s ease-out;
}

h1{
    text-align: center;
}

.portfolio-header{
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}


p{
    font-size: 14px;
}


.languages{
    text-align: center;
    font-size: 100px;
}

.languages > ul{
    padding-left: 0rem;
}
/*  ////////////////// portfolio  ///////////////// */

.portfolio{
    display: grid;
    padding-top: 2rem;

}
.projects{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.portfolioContent{
    display: flex;
    border-radius: 5px;
    padding: 15px;
    max-width: 850px;
    margin-bottom: 20px;
}
.portfolioContent > div{
 padding: 10px;
}
.portfolioContent:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
}


.projectinfo{
    text-align: center;
    max-width: 500px;
    animation: Slide_Right 0.5s ease-out;

}

.date{
    font-size: 10px;
}

.description{
    animation: Slide_Left 0.5s ease-out;
}

.projectimg{
    width: 400px;
    height: auto;  
}


.info{
    text-align: left;
    overflow: scroll;
    font-weight: 100;
    
}

 .readmore {
     border: none;
     background: none;
     color: #0b9f00;
     font-weight: 300;

 }

 .readmore:hover {
     color: black;
 }





/* ///////////// button  ///////////// */

.button{
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    background: #0fe500;
    width: 100px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    border-radius: 40px;
    border: none;
    transition: all 0.4s ease 0s;
   

}

.button:hover{
    background: rgb(0, 255, 157);
    color: black;
}
ul{
    list-style-type: none;
}



/* ////////// media-queries  //////////// */

@media(max-width: 1200px){
    .wrapper{
        display: grid;
        grid-template-columns: 1 fr 2fr;
    }
    .wrapper > *{
        padding: 10px;
    }
   .projects {
       display: grid;
       grid-template-columns: repeat(1, 1fr);
   }
    
 
}



@media(max-width: 800px) {

.mainContainer{
    flex-direction: column;
}
.navigation{
    display: none;
}
.header{
    display: flex;
    flex-direction: column;

}
#kash{
    width: 190px;;
}

.mobileNavigation{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
   


}

.mobileicons{
    display: block;
    margin-top: 10px;
}



.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: Slide_Down 0.3s ease-out;
    height: 100vh;
    padding-left: 0px;
    
}


.navbar li{
    padding: 5px;
}


.burgermenu{
    display: block;
    position: absolute;
    align-items: center;
    right: 5%;
    top: 15px;
    cursor: pointer;
    color: black;

}
.languages {
    text-align: center;
    font-size: 70px;
    color: black;

}


.portfoliContent{
    width: 500px;


 }


.portfolioContent:nth-child(even) {
     display: flex;
     flex-direction: column;
     align-items: center;
     animation: Slide_Up 0.5s ease-out;
 }
 .portfolioContent:nth-child(odd) {
     display: flex;
     flex-direction: column;
     align-items: center;
     animation: Slide_Up 0.5s ease-out;

 }

.projectinfo {
    max-width: 400px;
    animation: Slide_Up 0.5s ease-out;
}

.description {
    max-width: 480px;
    animation: Slide_Up 0.5s ease-out;

}


 
 .projectimg{
     width: 480px;
 }

 

 .icons{
     text-align: center;
     display: none;
 }
 

}



@media(max-width: 480px) {
  
    .projects{
         display: grid;
         grid-template-columns: repeat(1, 1fr);
    }
    .mainContainer{
        max-width: 480px;
    }
    .maincontent{
        max-width: 370px;
    }
   
    .maincontentHeader {
        font-Size: 25px;

    }

    .intro-name {
        font-size: 15px;
    }

    .nyc {
        font-size: 30px;
    }

    .projectinfo {
        width: 350px;
    }
    .projectinfo{
        animation: Slide_Up 0.5s ease-out;
    }

    .projectimg {
        width: 340px;
    }
    .description{
        animation: Slide_Up 0.5s ease-out;
    }
   
    .portfolioContent{
        display: flex;
        flex-direction: column;
        width: 350px;
    }

}





@keyframes Slide_Up {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes Slide_Down {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100;
    }

}

@keyframes Slide_Right {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes Slide_Left {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rotate{
    100%{
        transform: rotate(360deg)
    }
}

@keyframes TEXT_ANIMATION{
    100%{
        background-position: 400%;
    }
}